@font-face {
    font-family: 'abelregular';
    src: url('./font/abel-regular-webfont.woff2') format('woff2'),
        url('./font/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pinyon_scriptregular';
    src: url('./font/pinyonscript-regular-webfont.woff2') format('woff2'),
        url('./font/pinyonscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family: "abelregular";
    background-color: whitesmoke;
}
.navbar-brand img{ 
    width: 250px;
}
nav ul a{
    color: black!important;
}
nav ul a:hover{
color: red!important;
}
.fa-heart{
    position: relative;
    font-size: 1.8rem;

}
.fa-shopping-cart{
    position: relative;
    font-size: 1.8rem; 
}
.left{
    position: absolute;
    top: 0;
    right: 0;
}

.num1{
    background-color: red;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 10px;
}
.nav-link{
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.hero h1{
    font-weight: bold;
}
.price{
    font-size: 30px;
    font-weight: bold;
    margin-left:10px ;
}
.hero-content{
    padding: 150px 150px;
    color: white;
}
.hero{
    background: url('./images/banner.png')no-repeat center/cover;
    height: 650px;
}
.card-container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    background-color: whitesmoke;
}
.checkbox{
    background: url('./images/002-checklist.png')no-repeat; 
    height: 150px; 
}
.money-img{
    background: url('./images/001-salary.png')no-repeat ;
    height: 150px;
}
.box{

        background: url('./images/003-box.png')no-repeat ;
        height: 150px;

}
.menu{
    margin-top: 50px;
    height: 140px;
    background: url('./images/heading-bg.png')no-repeat center;
}
.menu h1{
    font-family: 'pinyon_scriptregular';
    font-weight: bolder;
    text-align: center;
    padding: 50px 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.menupic1{
    background: url('./images/beans-and-plain.jpg')no-repeat center/cover;
    height: 300px;
}
.menupic2{
    background: url('./images/whiterice-plaintain.jpg')no-repeat center/cover;
    height: 300px;
}
.menupic3{
    background: url('./images/boiledplantain-efo.jpg')no-repeat center/cover;
    height: 300px;
}
.food-title{font-weight: bold;}
.food-amt{font-weight: bold;}
.cart{
    color: red;
    font-weight: bold;
}
.menupic{
    position: relative;

}
.star{
    position: absolute;
    bottom: 0;
    color: white;
}
.hero2{
    margin-top: 70px;
    background: url('./images/second-bg.png')no-repeat center/cover;
    height: 400px;
}
.hero2-content{
    color: white;
    padding: 100px 80px;
}
.hero2 h1{
    font-size: 40px;
    font-weight: bold;
}
.img img{
    /* background:url('./images/boiledplantain-efo.jpg')no-repeat center/cover;
    height: 50px;
    margin-top: 2px; */
    margin-top: 2px;
    width:100%;
    border: 3px solid black;
}
.food-nav{
    font-weight: bolder;
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px;
}
.food-title{
    background-color: white;
    padding: 20px;
}
a:hover{
    color: black;

}
footer{
    margin-top: 50px;
}
@media only screen and (max-width:600px) {
    .hero{
        background: url('./images/mobile-banner.jpg')no-repeat center/cover;
    }
    .hero button{
        font-size:14px ;
    }
    .hero-content{
        padding: 100px 50px;
    }
    .hero2-content{
        padding: 70px 20px;
    }
    .hero2 h1{
        font-size: 30px;
    }
    .img{
        width: 100px;
    }
    .menu{
        background-size: 350px;
     }
    
}
@media only screen and (min-width:600px) and (max-width:900px){
    .hero{
        background: url('./images/mobile-banner.jpg')no-repeat center/cover;
    }
}